body {
  font-family: 'Arial', sans-serif;
  margin: 20px;
}

h1 {
  color: #333;
}

.project-details {
  border: 1px solid #000000;
  padding: 20px;
  background-color: #e7e7e7;
  border-radius: 5px;
  margin-top: 20px;
}