body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
  }
  
  h1 {
    color: #333;
  }

.nav-container {
  background-color: #000000;
  color: #ffffff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;
  margin-bottom: 20px;
}

.logo {
  margin: 0;
  color:#61bbc7
}

.user-info {
  font-size: 14px;
}

.user-name {
  font-size: 20px;
}

.user-info {
    font-size: 14px;
  }
  
  .user-name {
    font-size: 20px;
    font-weight: bold;
  }
  
  .project-details {
    border: 1px solid #000000;
    padding: 20px;
    background-color: #e7e7e7;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  #nav-links {
    display: flex;
    align-items: center;
  }
  
  #nav-links a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
  }
  
  #nav-links a:hover {
    background-color: #333333;
  }
  
  #nav-links div {
    margin-left: auto;
  }
  
  